* {
    margin:0;
    padding:0;
}
.pieces {
    height: inherit;
    width: inherit;
    text-align: left;
}
.input-piece {
    width: 150px;
    height:25px;
}
.piece {
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 10% 80% 10%;
    
    border-radius: 3px;

}
.piece:hover {
    background: rgb(245,245,245,0.1);
}
.piece--selectBox {
    place-self: center center;
}
.piece--text {
    font-size: 13px;
    line-height: 20px;

}
.piece--buttons {
    place-self: center center;
}

.click:active {
    opacity: 0.3;
}
.piece--menu {
    display: none;
    position: absolute;
    z-index: 990;
    background-color: #393939;;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 50px;
    height: 20px;
}
* {
    cursor: default;
}